.containerForm{
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px){
    max-width: 247px;
    }

    @media screen and (min-width: 1280px){
    max-width: 397px;
    }
}

.formBox{
    display: flex;
    flex-direction: column;
}

.inputBox{
    display: flex;
    margin-bottom: 16px;

    @media screen and (min-width: 1280px){
    margin-bottom: 24px;
    }
}

.iconBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 10px;
    border-radius: 8px 0px 0px 8px;
    background-color: var(--secondary-background);
    backdrop-filter: blur(6px);

    @media screen and (min-width: 1280px) {
    width: 64px;
    height: 64px;
    }
}

.inputForm{
    max-width: 168px;
    height: 48px;
    padding: 22px 24px;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid var(--secondary-background);
    outline: none;
    cursor: pointer;

    color: var(--accent-color);
    font-family: "Messina Sans Mono";
    font-size: 12px;
    line-height: 1.1667;
    text-transform: uppercase;
    background-color: var(--primary-background);
    transition: color 250ms var(--timing-function),
    border 250ms var(--timing-function);

    &:focus{
        border: 1px solid var(--primary-text-color);
        color: var(--primary-text-color) ;
    }

    @media screen and (min-width: 768px){
        max-width: 200px;
    }

    @media screen and (min-width: 1280px){
        font-size: 16px;
        line-height: 1.1875;
        max-width: 333px;
    }
}

.inputForm.error {
    border-color: var(--accent-color);
}

.errorMessage{
    color: var(--accent-color);
    text-align: right;
    font-family: "Messina Sans Mono";
    font-size: 12px;
    line-height: 1.1667;
    text-transform: uppercase;
    max-width: 397px;

    @media screen and (min-width: 768px){
    font-size: 10px;
    line-height: 1.2;
    max-width: 247px;
    }

    @media screen and (min-width: 1280px){
    font-size: 12px;
    line-height: 1.1667;
    max-width: 397px;
    }
}

.formBtn{
    color: var(--primary-text-color);
    font-family: "Right Grotesk";
    font-size: 16px;
    font-weight: 900;
    line-height: 1.1875;
    text-transform: uppercase;
     
    padding-top: 10px;
    padding-bottom: 12px;
    border-radius: 8px;
    background-color: var(--background-red);
    backdrop-filter: blur(6px);
    border: none;
    cursor: pointer;
    transition: color 250ms var(--timing-function);
    

    &:hover{
        color:var(--secondary-text-color);
    }

    @media screen and (min-width: 1280px){
    font-size: 28px;
    line-height: 1.21429;
    }
}