.contactSection {
    padding: 60px 72px 0px 72px;
    margin-right: auto;
    margin-left: auto;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
    padding: 80px 88px 0 88px;
    }

    @media screen and (min-width: 1280px) {
    padding: 120px 124px 0 124px;
    }
}


.contactTitle{
    font-family: "Right Grotesk";
    font-size: 44px;
    font-weight: 900;
    line-height: 0.901;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: 768px){
    font-size: 80px;
    line-height: 1;
    margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px){
    font-size: 160px;
    margin-bottom: 80px;
    }

}

.containerCross {
    display: flex;
    width: 24px;
    height: 24px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 768px){
    width: 36px;
    height: 36px;
    margin-bottom: 24px;
    }

    @media screen and (min-width: 1280px){
    margin-bottom: 40px;
    }
}

.contactText{
    text-align: center;
    font-family: "Messina Sans Mono";
    font-size: 16px;
    line-height: 1.1875;
    text-transform: uppercase;
    margin-bottom: 16px;
    max-width: 216px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 768px){
    max-width: 397px;
    margin-bottom: 24px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 24px;
        line-height: 1.20833;
        max-width: 581px;
        margin-bottom: 40px;
    }
}