.headerBox{
    position: fixed;
    top: 54px;
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 19px 16px;
    background-color: transparent;
    pointer-events: none;
    z-index: 1;
}

.btnMenu{
color: var(--secondary-text-color);
font-family: "Messina Sans Mono";
font-size: 12px;
font-weight: 600;
line-height: 1.1667;
background-color: transparent;
border: none;
cursor: pointer; 
transition: color 250ms var(--timing-function);

&:hover,
    &:focus {
        outline: none;
    }

        &:hover {
            outline: none;
            color: var(--primary-text-color);
        }

}

.headerItem{
    pointer-events: auto;
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(30, 30, 30, 0.10);
    backdrop-filter: blur(6px);
    margin-bottom: 10px;
}



