.socialItem {
    pointer-events: auto;
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(30, 30, 30, 0.10);
    backdrop-filter: blur(6px);
    margin-bottom: 10px;

    @media (min-width: 1280px) {
        width: 80px;
        height: 80px;
        margin-bottom: 16px;
    }
}

.scrolled.socialList {
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
}