.mobileMenu {
    position: fixed; 
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh; 
    height: 100%;
    padding: 62px 16px 60px 16px;
    max-width: 524px;
    background-color: var(--primary-background); 
    color: var(--primary-text-color);
    transform: translateX(100%);
    transition: transform 750ms var(--timing-function);
    z-index: 2; 
}

.mobileMenu.openMenu{
    transform: translateX(0);
    transition: transform 750ms var(--timing-function);
   }
    

.mobileBox{
    display: flex;
    justify-content: space-between;
}

.btnMenu {
    color: var(--secondary-text-color);
    font-family: "Messina Sans Mono";
    font-size: 12px;
    font-weight: 600;
    line-height: 1.1667;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        outline: none;
    }

    &:hover {
        outline: none;
        color: var(--primary-text-color);
    }

    @media (min-width: 1280px){
    font-size: 16px;
    line-height: 1.1875;
    }
}

.mobileItem {
    pointer-events: auto;
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(30, 30, 30, 0.10);
    backdrop-filter: blur(6px);
    margin-bottom: 10px;

}


.menuText{
    text-align: center;
    font-family: "Messina Sans Mono";
    font-size: 12px;
    line-height: 1.1667;
    text-transform: uppercase;
    margin-bottom: auto;
 } 

.menuLarge{
    position: fixed;
    top: 46px;
    width: 768px;
    padding: 20px 72px 0px 437px; 
    background-color: transparent;
    
    transform: translateY(-150%);
    transition: transform 250ms var(--timing-function);
    

    @media (min-width: 1280px) {
        width: 1280px;
        top: 32px;
        padding: 10px 82px 0px 856px;
    }
}

.menuLarge.openMenu {
    transform: translateY(0);
    transition: transform 250ms var(--timing-function);
    border-radius: 12px 0px 0px 12px;
}