 .sectionContainer {
     padding: 60px 72px 0px 72px;
     margin-right: auto;
     margin-left: auto;
     color: var(--primary-text-color);

    @media screen and (min-width: 768px){
    padding: 80px 88px 0px 88px;
    }

    @media screen and (min-width: 1280px) {
    padding: 120px 124px 0px 124px;
    }
 }
 
 .contentBox {
     max-width: 230px;
     margin-right: auto;
     margin-left: auto;

    @media screen and (min-width: 768px){
    display: flex;
    justify-content: space-between;
    max-width: 592px;
    }
    @media screen and (min-width: 1280px){
    max-width: 1032px;    
    }
 }

.aboutTitle{
    font-family: "Right Grotesk";
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 16px;

    @media screen and (min-width: 768px){
    font-size: 57px;
    line-height: 1.1;
    margin-bottom: 68px;
    }

    @media screen and (min-width: 1280px){
    font-size: 110px;
    line-height: 1.1;
    margin-bottom: 56px;
    }
}

.accentColor{
    color: var(--accent-color);
}

.contentContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;

    text-align: right;
    font-family: "Messina Sans Mono";
    font-size: 16px;
    line-height: 1.1875;
    text-transform: uppercase;

    @media screen and (min-width: 768px){
    font-size: 16px;
    line-height: 1.1875;
    margin-bottom: 0;
    margin-top: 11px;
    }

   @media screen and (min-width: 1280px){
   font-size: 24px;
   line-height: 1.20833;
   margin-top: 24px;
   margin-bottom: 24px;    
   }
} 

.containerCross{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 24px;
    height: 24px;
    margin-bottom: 16px;

    @media screen and (min-width: 1280px){
        width: 36px;
        height: 36px;
        margin-bottom: 36px;
    }
}

.textContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    text-align: center;
    font-family: "Messina Sans Mono";
    font-size: 12px;
    line-height: 1.16667;
    text-transform: uppercase;

    @media screen and (min-width: 768px){
        font-size: 16px;
        line-height: 1.1875;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1280px){
        font-size: 24px;
        line-height: 1.20833;
    }
}