.socialIcon{
    width: 16px;
    height: 16px;
    color: var(--social-icons-color);
    fill: currentColor;
    transition: color 250ms var(--timing-function);
    cursor: pointer;
        
        &:hover,
        &:focus {
            color: var(--social-icons-color-hover);
        }

    @media (min-width: 1280px) {
        width: 24px;
        height: 24px;
    }
}

.crossIcon,
.vectorIcon{
    color: var(--primary-text-color);
    fill: currentColor;
}

.vectorIcon{
position: absolute;
width: 24px;
height: 24px;
position: absolute;
top: 0;
right: 0;

transition: transform 250ms var(--timing-function);

&:hover{
    transform: translateY(-50%) translateX(50%) ;
}

@media screen and (min-width: 1280px){
    width: 39.542px;
    height: 39.543px;
}
} 

.metaMask{
    width: 24px;
    height: 22.547px;
}

.discordForm{
    width: 24px;
    height: 24px;
    color: currentColor;
    fill: #5A65F2;
}

.logoIcon{
    width: 48px;
    height: 32px;
    cursor: pointer;
    color: var(--social-icons-color) ;
    fill: currentColor;

    @media screen and (min-width: 1280px) {
        width: 72px;
        height: 50px;
    }      
}

.scrolled.logoIcon {
    fill-opacity: 0;
    transition: opacity 250ms var(--timing-function);
}