.socialIcon{
    width: 16px;
    height: 16px;
    color: var(--social-icons-color);
    fill: currentColor;
    transition: color 250ms var(--timing-function);
    cursor: pointer;
        
        &:hover,
        &:focus {
            color: var(--social-icons-color-hover);
        }
}

.crossIcon{
    color: var(--primary-text-color);
    fill: currentColor;
}